/archivemanager/settings.py
/.idea/


/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_05_2023_15_00_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_05_2023_15_01_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_05_2023_15_03_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_05_2023_15_09_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_05_2023_15_10_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_05_2023_15_11_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_05_2023_15_11_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_05_2023_15_00__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_05_2023_15_01__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_05_2023_15_03__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_05_2023_15_09__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_05_2023_15_10__Changes_.xml
/.idea/vcs.xml
/.idea/videoconferencing.iml
/.idea/workspace.xml
