{% load static%}
{% block content %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'loginwindow/css/login_style.css' %}">
</head>
<body>
    <div class="auth_block">
        <img class="logo" src="{% static 'loginwindow/img/logo.svg' %}" alt="">
        <div class="login-container">
                <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
              <div class="form-group">
                <td>{{ form.username }}</td>
              </div>
              <div class="form-group">
                <td>{{ form.password }}</td>
              </div>
              <div class="confirm_button">
                <input class="login_button" type="submit" value="        Войыы" />
              </div>
                {% if form.errors %}
                    <p class="user_error">Неверный логин или пароль, проверьте правильность введенных данных.</p>
                {% endif %}
            </form>
        </div>
    </div>
</body>
</html>
{% endblock %}