body{
    background-color: #fff;
}

.auth_block{
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 900px;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.30);
    border-radius: 65px;
    margin-top: 2%;
}

.logo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 25%;
}

.login-container {
    margin: 0 auto;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 35%;
}

.form-group {
    width: 80%;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

input::placeholder{
    color: #f1f1f1;
    font-family: Arial;
    font-size: large;
}

input[type="text"], input[type="password"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 40px;
    padding: 4%;
}


.login_button{
    width: 30%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #5b8090;
    color: #fff;
    font-family: Arial;
    font-size: large;
    border: none;
    border-radius: 40px;
    padding: 15px;
    cursor: pointer;
}

.login_button:hover {
    background-color: #5b8090;
}

.user_error{
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: small;
}