body{
    background-color: #fff;
}

.auth_block{
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 900px;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.30);
    border-radius: 65px;
    margin-top: 2%;
    text-align: center;
}

.logo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 25%;
}

.login-container {
    margin: 0 auto;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 35%;
}

.form-group {
    width: 80%;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

input::placeholder{
    color: #f1f1f1;
    font-family: Arial;
    font-size: large;
}

input[type="text"], input[type="password"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 40px;
    padding: 4%;
}


.login_button{
    width: 30%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #5b8090;
    color: #fff;
    font-family: Arial;
    font-size: large;
    border: none;
    border-radius: 40px;
    padding: 15px;
    cursor: pointer;
}

.login_button:hover {
    background-color: #5b8090;
}

.user_error{
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: small;
}

.dropbtn {
  background-color: #e5e5e5;
  color: black;
  padding: 16px;
  font-size: 16px;
  font-family: Arial;
  border: none;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 0px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #F48120;;}
