{% load static%}

{% if request.user.is_authenticated and request.user.is_staff %}
<html>
{% block content %}
    <body>
        <head>
	    	<meta charset="UTF-8">
        	<title>Archive list</title>
	    	<link rel="stylesheet" href="{% static 'simpleuserpage/css/edit_page.css' %}">
        </head>
        <h1>Добавление нового пользователя</h1>
        <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_div }}
            <button type="submit" class="save btn btn-default">Сохранить</button>
            <a class="cancel" href="{% url 'admin_panel' %}">Отменить</a>
        </form>
    </body>
{% endblock %}
</html>
{% endif %}
