body{
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.pagination{
    display: inline-block;
}

.rows-per-page{
    display: inline-block;
    align-content: center;
    margin-left: 2%;
	margin-right: auto;
	background-color: #e5e5e5;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.30);
	border-radius: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid black;
}

.rpp{
    margin: auto;
}

select{
    border-radius: 15px;
    text-align: center;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.personal_account{
    margin: auto;
    margin-top: 1%;
    margin-left: 5%;
    vertical-align: top;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    background: #F48120;
    color: white;
    font-weight: lighter;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.logout_btn{
    margin: auto;
    margin-top: 1%;
    margin-right: 5%;
    vertical-align: top;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    background: #F48120;
    color: white;
    font-weight: lighter;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.adduser_btn{
    margin: auto;
    margin-left: 64%;
    vertical-align: center;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    background: #F48120;
    color: white;
    font-weight: lighter;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.paginator{
    display: inline-block;
	margin-left: 6%;
	margin-right: auto;
    background-color: #e5e5e5;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.30);
	border-radius: 15px;
	padding-top:5px;
	padding-bottom: 5px;
	border: 1px solid black;
}
.page-link{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    padding:6px;
    color: black;
    text-decoration-line: none;
    vertical-align: middle;
}

.page-link:hover:first-child{
    color: purple;
    background-color: #F48120;
    text-decoration-line: none;
    border-radius: 15px 0px 0px 15px;
}

.page-link:hover:last-child{
    color: purple;
    background-color: #F48120;
    text-decoration-line: none;
    border-radius: 0px 15px 15px 0px;
}

.cur-page-link{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    padding:6px;
    vertical-align: middle;
    background-color: #F48120;
    text-decoration-line: none;
}

.cur-page-link:last-child{
    border-radius: 0px 15px 15px 0px;
}

.cur-page-link:first-child{
    border-radius: 15px 0px 0px 15px;
}

.cur-page-link:first-child:last-child{
    border-radius: 15px 15px 15px 15px;
}

table{
	width: 90%;
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	border-collapse: separate;
}

table thead th{
	font-weight: bold;
	text-align: center;
	font-family: Arial;
	border: none;
	padding: 10px 15px;
	background: #f3d04e;
	border-top: 1px solid #ddd;
}

table tr th:first-child, table tr td:first-child{
	border-left: 1px solid #ddd;
    background: #f3d04e;
}

table tr th:last-child, table tr td:last-child{
	border-right: 1px solid #ddd;
}

table thead tr th:first-child{
	border-radius: 20px 0 0 0;
}

table thead tr th:last-child{
	border-radius: 0 20px 0 0;
}

table tbody td{
	text-align: center;
	border: none;
	padding: 10px 15px;
	font-family: Arial;
	font-size: 90%;
	vertical-align: top;
	vertical-align: middle;
}

table tbody tr:nth-child(even){
	background: #e5e5e5;
}

table tbody tr:nth-child(odd){
	background: #D0D0D0;
}

table tbody tr:last-child td{
	border-bottom: 1px solid #ddd;
}

table tbody tr:last-child td:first-child{
	border-radius: 0 0 0 20px;
}

table tbody tr:last-child td:last-child{
	border-radius: 0 0 20px 0;
}

.edit_link{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.edit_row{
   background-color: #F48120;
}

.delete_link{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.delete_row{
    background-color: #F48120;
}