body{
    background-color: #fff;
    align-content: center;
}

div{
    display: inline-block;
    margin-right: 1%;
}

h1{
    font-family: Geneva, Arial, Helvetica, sans-serif;

}

input{
    background-color: #e5e5e5;
}

input, label{
    display:block;
    margin: auto;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    border-radius: 15px;
    border: none;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

#id_users_list{
    background-color: #e5e5e5;
    border-radius: 15px;
    border: none;
    height: 150px;
    width: 200px;
    padding: 5px;
    text-align: center;
    box-sizing: content-box;
    margin: auto;
    vertical-align: middle;
    resize: both;
    overflow-y: auto;
    scrollbar-color: #458245 #714826;
}

select::-webkit-scrollbar {
  width: 10px;
}

select::-webkit-scrollbar-track {
  background: none;
}

textarea{
    border-radius: 15px;
    border: none;
    padding: 5px;
    text-align: center;
    box-sizing: content-box;
    margin: auto;
    vertical-align: middle;
}

button{
    cursor: pointer;
    margin-left: 1%;
    padding: 7px;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    background: #F48120;
    color: white;
    font-size: medium;
}

.post-form{
    background-color: #fff;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.30);
    padding: 10px;
    border-radius: 15px;
}

.cancel{
    background: red;
    padding: 7px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: lighter;
    vertical-align: middle;
    box-sizing: border-box;
}

.helptext{
    display: none;
}

.hidden {
    display: none;
}

#id_description, #id_participants, #id_name{
    background-color: #e5e5e5;
    border-radius: 15px;
    border: none;
    height: 150px;
    padding: 5px;
    text-align: center;
    box-sizing: content-box;
    margin: auto;
    vertical-align: middle;
    resize: both;
}

#id_users_list_0{
    display: inline-block;
    text-align: center;
}

fieldset {
    font-family: Arial;
    font-weight: lighter;
    border: none;
}