body{
    margin-top: 20%;
    background-color: #fff;
    align-content: center;
    text-align: center;
}

div{
    display: inline-block;
    margin-right: 1%;
}

h1{
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

button{
    cursor: pointer;
    margin-left: 1%;
    padding: 7px;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    background: #F48120;
    color: white;
    font-size: medium;
}

.cancel{
    background: red;
    padding: 7px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: lighter;
    vertical-align: middle;
    box-sizing: border-box;
}
