{% load static%}
{% if request.user.is_authenticated and request.user.is_staff %}
<html>
{% block content %}
    <body>
        <head>
	    	<meta charset="UTF-8">
        	<title>Edit mode</title>
	    	<link rel="stylesheet" href="{% static 'simpleuserpage/css/edit_page.css' %}">
        </head>
        <h1>Изменение данных</h1>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_div }}
            <button type="submit" class="save btn btn-default">Сохранить</button>
            <a class="cancel" href="{% url 'simpleuser_page' %}">Отменить</a>
        </form>

        {% block javascript %}
        <script>
            (function() {
              var checkbox = document.getElementById('id_is_unremovable');
              var lifetimeInput = document.getElementById('id_lifetime');
              var lifetimeLabel = document.querySelector('label[for="id_lifetime"]');


              if (checkbox.checked) {
                lifetimeInput.style.display = 'none';
                lifetimeLabel.style.display = 'none';
              }

              // обработчик изменения состояния флажка
              checkbox.addEventListener('change', function() {
                if (checkbox.checked) {
                  lifetimeInput.style.display = 'none';
                  lifetimeLabel.style.display = 'none';
                }
                else {
                  lifetimeInput.style.display = 'block';
                  lifetimeLabel.style.display = 'block';
                }
              });
            })();
        </script>
        {% endblock %}
    </body>
{% endblock %}
</html>
{% endif %}
