{% load static%}
{% if request.user.is_authenticated and request.user.is_staff or "technical_support" or "local_admin" in group %}

<html>
{% block content %}
    <body>
        <head>
	    	<meta charset="UTF-8">
        	<title>Edit mode</title>
	    	<link rel="stylesheet" href="{% static 'simpleuserpage/css/edit_page.css' %}">
        </head>
        <h1>Изменение данных</h1>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_div }}
            <button type="submit" class="save btn btn-default">Сохранить</button>
            <a class="cancel" onclick="goBack()">Отменить</a>
        </form>

        {% block javascript %}
        <script>
            function goBack() {
              window.history.back();
            }

            {% if "local_admin" in group %}
                document.getElementById('id_is_private').style.display = 'none';
                document.querySelector('label[for="id_is_private"]').style.display = 'none';

                document.getElementById('id_access').style.display = 'none';
                document.querySelector('label[for="id_access"]').style.display = 'none';

                document.getElementById('id_is_unremovable').style.display = 'none';
                document.querySelector('label[for="id_is_unremovable"]').style.display = 'none';

            {% elif "technical_support" in group or request.user.is_staff %}
                document.getElementById('id_users_list').style.display = 'none';
                document.querySelector('legend').style.display = 'none';

                document.getElementById('id_access_by_link').style.display = 'none';
                document.querySelector('label[for="id_access_by_link"]').style.display = 'none';
            {% endif %}

            (function() {
              var checkbox = document.getElementById('id_is_unremovable');
              var lifetimeInput = document.getElementById('id_lifetime');
              var lifetimeLabel = document.querySelector('label[for="id_lifetime"]');


              if (checkbox.checked) {
                lifetimeInput.style.display = 'none';
                lifetimeLabel.style.display = 'none';
              }

              // обработчик изменения состояния флажка
              checkbox.addEventListener('change', function() {
                if (checkbox.checked) {
                  lifetimeInput.style.display = 'none';
                  lifetimeLabel.style.display = 'none';
                }
                else {
                  lifetimeInput.style.display = 'block';
                  lifetimeLabel.style.display = 'block';
                }
              });
            })();

            (function() {
              var accessCheckbox = document.getElementById('id_is_private');
              var accessInput = document.getElementById('id_access');
              var accessLabel = document.querySelector('label[for="id_access"]');


              if (accessCheckbox.checked) {
                accessInput.style.display = 'none';
                accessLabel.style.display = 'none';
              }

              // обработчик изменения состояния флажка
              accessCheckbox.addEventListener('change', function() {
                if (accessCheckbox.checked) {
                  accessInput.style.display = 'none';
                  accessLabel.style.display = 'none';
                }
                else {
                  accessInput.style.display = 'block';
                  accessLabel.style.display = 'block';
                }
              });
            })();
        </script>
        {% endblock %}
    </body>


{% endblock %}
</html>
{% endif %}
