{% load static%}


<html>

	<head>
		<meta charset="UTF-8">
    	<title>Archive list</title>
		<link rel="stylesheet" href="{% static 'simpleuserpage/css/simpleuserpage_style.css' %}">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
	{% if request.user.is_authenticated %}
	<body onload="update_unpacking_progress()">
		<div class="header">
			<a class="personal_account" href="{% url 'admin_panel' %}">{{ request.user.get_username }}</a>
			<a class="logout_btn" href="/accounts/logout">Выход</a>
		</div>
		<div class="pagination">
			<div class="paginator">
				<nav>
					{% if page_obj.has_previous %}
					<a class="page-link" href="?page={{page_obj.previous_page_number }}">Назад</a>
					{% endif %}
					{% for page in page_obj.paginator.page_range %}
					{% if page == page_obj.number %}
					<a class="cur-page-link active" href="?page={{page}}">{{page}}</a>
					{% elif page > page_obj.number|add:-3 and page < page_obj.number|add:3 %}
					<a class="page-link" href="?page={{page}}">{{page}}</a>
					{% endif %}
					{% endfor %}
					{% if page_obj.has_next %}
					<a class="page-link" href="?page={{page_obj.next_page_number}}">Вперед</a>
					{% endif %}
  				</nav>
			</div>
			<div class="rows-per-page" method = "get">
			{% block content %}
			  <form class="rpp" method="get">
			    <label for="lines_per_page">Количество строк:</label>
			    <select id="lines_per_page" name="lines_per_page" onchange="this.form.submit()">
					<option value="1" {% if page_obj.paginator.per_page == 1 %}selected{% endif %}>1</option>
					<option value="2" {% if page_obj.paginator.per_page == 2 %}selected{% endif %}>2</option>
					<option value="3" {% if page_obj.paginator.per_page == 3 %}selected{% endif %}>3</option>
					<option value="50" {% if page_obj.paginator.per_page == 50 %}selected{% endif %}>50</option>
					<option value="100" {% if page_obj.paginator.per_page == 100 %}selected{% endif %}>100</option>
			    </select>
			  </form>
			{% endblock %}
			</div>
			<div class="search">
			<form action="{% url 'search_result' %}" method="get">
				<label class="upper_label" for="query">Поиск</label>
				<input class="search_input" type="text" id="query" name="q" value="{{ query }}" placeholder="Введите запрос">
				<input class="search_button" type="submit" value="Поиск">
			</form>
			</div>
			<div class="filters">
				<form method="get">
					<label class="upper_label" for="date_from">От:</label>
					<input type="date" id="date_from" name="date_from" value="{% if request.GET.date_from %}{{ request.GET.date_from }}{% endif %}">
					<label class="upper_label" for="date_to">До:</label>
					<input type="date" id="date_to" name="date_to" value="{% if request.GET.date_to %}{{ request.GET.date_to }}{% endif %}">
					<input type="checkbox" id="show_recorded" name="show_recorded" {% if request.GET.show_recorded %}checked{% endif %}>
					<label class="upper_label" for="show_recorded">С записью</label>
					<button class="search_button" type="submit">Применить</button>
				</form>
			</div>
		</div>
    	<table>
    		<thead>
    			<tr>
    				<th><a class="sorting" href="{% url 'sort_table' 'id' %}">ID</a></th>
    				<th><a class="sorting" href="{% url 'sort_table' 'name' %}">Наименование вебинара</a></th>
    				<th><a class="sorting" href="{% url 'sort_table' 'eventdate' %}">Дата проведения</a></th>
    				<th>Существует до</th>
    				<th>Список участников</th>
    				<th>Описание</th>
    				<th>Раздаточный материал</th>
    				<th>Запись вебинара</th>
					<th>Ссылки</th>
					{% if request.user.is_authenticated and request.user.is_staff %}
					<th>Название файла</th>
					<th class="edit_row" >Редактирование</th>
					<th class="delete_row">Удаление</th>
					{% endif %}
    			</tr>
    		</thead>
    		<tbody>
    			{% for row in page_obj %}
				{% if request.user.is_authenticated and request.user.is_staff %}
    			<tr {% if row.description == '' %} style="background-color: #E39163;" {% endif %}>
    				<td>{{ row.id }}</td>
    				<td>{{ row.name }}</td>
    				<td>{{ row.event_date|date:"d-m-Y" }}</td>
					<td>
						{% if row.is_unremovable == True %}
						Бессрочно
						{% else %}
						{{ row.lifetime|date:"d-m-Y" }}
						{% endif %}
					</td>
    				<td>
						{% if row.participants != '' %}
						<div class="scrollable">
							{% for participant in row.participants_list %}
							{{ participant }}<br>
							{% endfor %}
						</div>
						{% endif %}
					</td>
    				<td>
						{% if row.description != '' %}
        				        <div class="scrollable">
        				                {{ row.description }}<br>
        				        </div>
						{% endif %}
					</td>
    				<td class="handout"> {% if row.handout != '' %} {% for handout in row.handout_list %} <a href="{% url 'download_file' id=row.id handout=handout %}">{{ handout }}<br></a> {% endfor %} {% endif %} <br> <a class="add_file" href="{% url 'upload_file' id=row.id %}">+</a></td>
    				<td class="unpacking-progress" data-id="{{ row.id }}">
						<a class="recording" href="{% url 'video_player' id=row.id %}" target="_blank"
						   style="display: none;
						   		font-family: Geneva, Arial, Helvetica, sans-serif;
    							text-decoration: none;
    							font-weight: bold;
    							color: black;"
						><h3 class="video"></h3></a>
						<a class="unpack-archive" href="{% url 'unpack_archive' id=row.id %}"
						   style="display: none;
						   		font-family: Geneva, Arial, Helvetica, sans-serif;
    							text-decoration: none;
    							font-weight: bold;
    							color: black;"
						>Распаковать</a>
						<a class="in-process"
						   style="display: none;
						   		font-family: Geneva, Arial, Helvetica, sans-serif;
    							text-decoration: none;
    							font-weight: bold;
    							color: black;"
						>В процессе...</a>
					</td>
					<td class="download-archive"><a href="{% url 'download_archive' id=row.id %}" target="_blank" style="display: none;">Скачать</a></td>
					{% if request.user.is_authenticated and request.user.is_staff %}
					<td><a href="{% url 'download_protected_archive' id=row.id %}">{{ row.code_name }}</a></td>
					<td class="edit_row" ><a class="edit_link" href="{% url 'edit_info' id=row.id %}">Редактировать</a></td>
					<td class="delete_row"><a class="delete_link" href="{% url 'delete_info' id=row.id %}">Удалить</a></td>
					{% endif %}
    			</tr>
				{% endif %}
				{% if request.user.is_authenticated and not request.user.is_staff %}
					{% if not row.is_private %}
    				<tr {% if row.description == '' %} style="background-color: #E39163;" {% endif %}>
    					<td>{{ row.id }}</td>
    					<td>{{ row.name }}</td>
    					<td>{{ row.event_date|date:"d-m-Y" }}</td>
						<td>{{ row.lifetime|date:"d-m-Y" }}</td>
    					<td>
        				    {% if row.participants != '' %}
        				        <div class="scrollable">
        				            {% for participant in row.participants_list %}
        				                {{ participant }}<br>
        				            {% endfor %}
        				        </div>
        				    {% endif %}
        				</td>
    					<td>
							{% if row.description != '' %}
        					        <div class="scrollable">
        					                {{ row.description }}<br>
        					        </div>
							{% endif %}
						</td>
    					<td class="handout"> {% if row.handout != '' %} {% for handout in row.handout_list %} <a href="{% url 'download_file' id=row.id handout=handout %}">{{ handout }}<br></a> {% endfor %} {% endif %} <br> <a class="add_file" href="{% url 'upload_file' id=row.id %}">+</a></td>
    					<td><a href="{% url 'video_player' id=row.id %}" target="_blank">{{ row.recording }}</a></td>
						<td>{% if row.unpacked != 1 %}-{% else %}<a href="{% url 'download_archive' id=row.id %}" target="_blank">Скачать</a>{% endif %}</td>
						{% if request.user.is_authenticated and request.user.is_staff %}
						<td><a href="{% url 'download_protected_archive' id=row.id %}">{{ row.code_name }}</a></td>
						<td class="edit_row" ><a class="edit_link" href="{% url 'edit_info' id=row.id %}">Редактировать</a></td>
						<td class="delete_row"><a class="delete_link" href="{% url 'delete_info' id=row.id %}">Удалить</a></td>
						{% endif %}
    				</tr>
					{% endif %}
				{% endif %}
    			{% endfor %}
    		</tbody>
    	</table>
  	{% else %}
    <p>Please login to see this page.</p>
	{% endif %}

	{% block javascript %}
		<script>

    		var progress_value = null;
			if ($('.unpacking-progress').length > 0) {
			  setInterval(update_unpacking_progress, 20000);
			}


        	function update_unpacking_progress() {
        	    $("#recording").hide();
        	    console.log("Функция вызвана");

        	    var ids = [];

        	    $(".unpacking-progress").each(function () {
            		var $cell = $(this); // текущая ячейка
            		var id = $cell.data("id");
            		ids.push(id);
				});
            	$.ajax({
            		url: "{% url 'update_unpacking_progress' %}",
            		data: {ids: ids},
            		success: function(data) {
						console.log("Данные успешно получены:", data);
						var all_data = data;
						all_data.forEach(function(item) {
						  	var id = item['id'];
						  	var progress = item['progress'];
						  	var recording = item['recording']

						  	var $cell = $('[data-id="' + id + '"].unpacking-progress');

						  	if ($cell.length === 0) {
						  	  	console.log('Ячейка с id ' + id + ' не найдена');
						  	  	return;
						  	}

						  	if (progress === null) {
						  	  	console.log('Прогресс распаковки для ячейки с id ' + id + ' еще не загружен');
						  	} else if (progress == 0) {
						  		$cell.children(".recording").hide();
								$cell.children(".in-process").hide();
						  	  	$cell.children('.unpack-archive').show();
						  	  	$cell.closest('tr').find('.download-archive').children('a').hide();
						  	} else if (progress == 2) {
						  		$cell.children(".recording").hide();
								$cell.children(".unpack-archive").hide();
						  	  	$cell.children('.in-process').show();
						  	  	$cell.closest('tr').find('.download-archive').children('a').hide();
						  	} else {
								$cell.children(".unpack-archive").hide();
								$cell.children(".in-process").hide();
						  	  	$cell.children('.recording').show();
						  	  	$cell.children('.recording').text(recording);
						  	  	$cell.closest('tr').find('.download-archive').children('a').show();
						  	}
						});
            		}
				});

        	}
		</script>
	{% endblock %}
	</body>

</html>
